*.gem
.bundle
.sass-cache
_site
Gemfile.lock

# Node/Eleventy
node_modules
package-lock.json
.DS_Store

# Local Netlify folder
.netlify

# Playwright tests and results
test-*.spec.js
test-results/
playwright-report/
deployed-site.png
local-site.png
