<nav class="site-navigation" role="navigation">
  <ul>
    <li>
      <a href="/">
        Home
      </a>
    </li>
  {% for item in menu %}
    <li {% if page.url == item.url %}class="active"{% endif %}>
      {% if item.url.indexOf('http') > -1 %}
        <a href="{{ item.url }}">
          {{ item.title }}
        </a>
      {% else %}
        <a href="{{ item.url }}">
          {{ item.title }}
        </a>
      {% endif %}
    </li>
  {% endfor %}
  </ul>
</nav>
