<li>
  <a href="{{ site.baseurl }}{{ post.url }}" class="post-link">
    <div class="post-link__heading">
      {% unless post.data.title == "" %}
          <h1 class="post-link__title">
            {{ post.data.title }}
          </h1>
      {% else %}
        {% include post-excerpt.html %}
      {% endunless %}
      {% if post.data.title != "" and site.show_excerpts == true %}
        {% include post-excerpt.html %}
      {% endif %}
    </div>
    <span class="post-date">
      {{ post.date | date: "%b %-d, '%y" }}
    </span>
  </a>
</li>