<aside class="search-form-container">
  <form class="search-form" action="https://duckduckgo.com/" method="get" role="search">
    <label class="search-label" for="q">Search the blog</label>
    <input class="search-input" id="q" type="search" name="q" placeholder="Search&hellip;" />
    <input type="hidden" name="sites" value="{{ site.url }}{{ site.baseurl }}" />
    <button class="search-submit" type="submit">
      <svg class="search-submit-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <circle cx="11" cy="11" r="8"></circle>
        <path d="m21 21-4.35-4.35"></path>
      </svg>
    </button>
  </form>
</aside>
